$color-background: #6930c3;

body{
    background-color: $color-background;
    font-family: 'Mulish', sans-serif; 
    margin: 0px;
}

header{
    align-items: center;
    background-color: $color-background;
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;
}

.header__img{
    margin-left: 10px;
    margin-top: 10px;
    width: 200px;
}

.header__menu{
    margin-right: 30px;
}

.main {
    align-items: center;
    background: linear-gradient(#06d6a0, $color-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 200px);
    padding: 0px 30px;

    div{
        color: white;
        font-size: 50px;
        font-weight: bold;
        animation-name: pulse;
        animation-duration: 1.5s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
    }

    p{
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
}

.footer{
    align-items: center;
    background: #6930c3;
    display: flex;
    height: 100px;
    width: 100%;

    a{
        color: white;
        cursor: pointer;
        font-size: 14px;
        padding-left: 30px;
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }
}

@keyframes pulse{
    0%{transform: scale(1);}
    50%{transform: scale(1.5);}
    100%{transform: scale(1);}
}

@media only screen and (max-width: 600px){
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}